.wrapper {
	width: 600px;
	margin:	auto;
	text-align: center;
}

.board {
	border: 1px solid #fff;
	float: left;
	background: red;
}

.cube {
	float: left;
	border: 1px solid #aaa;
	width: 192px;
	height: 192px;
	margin: 2px;
	font-size: 170px;
	line-height: 190px;
	background: #bbb;
	text-shadow: 5px 5px 15px #555;
	box-shadow: 15px 15px 25px #555;
}